@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin mainFont {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@mixin lowFont {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@mixin tableFont {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
}

@mixin mainBorder($top, $right, $bottom, $left) {
  border-top: $top solid #414144;
  border-right:  $right solid #414144;
  border-bottom: $bottom solid #414144;
  border-left: $left solid #414144;
}